.ContendorTecInstalacion-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.TecInstalacion-mobile {
  width: 100%;
  height: 100%;
  background: url('../../assets/TecnicoDeInstalacion/BanneTecnico.jpg');
  margin-top: 40px;
  flex-direction: row;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  padding: 10px 10px;
}

.FormSectionTecIns-mobile {
  width: 95%;
  background: #001d65de;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  padding: 0 20px;
}
.FormSectionTecIns-mobile img {
  width: 90%;
  margin-top: 70px;
  margin-bottom: 20px;
}
.FormSectionTecIns-mobile form {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 15px;
  gap: 15px;
}
.FormSectionTecIns-mobile label {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.5px;
}
.FormSectionTecIns-mobile input {
  height: 40px;
}
.FullName-mobile {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.FullName-mobile div {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: baseline;
  gap: 5px;
}
.FullName-mobile input {
  display: flex;
  width: 96%;
  flex-direction: column;

  gap: 5px;
}
.Mail-mobile {
  display: flex;
  width: 75%;
  flex-direction: column;

  gap: 5px;
}
.Phone-mobile {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.Resume-mobile input {
  font-size: 100%;
  height: 30px;
  color: #7a7a7a;
  font-size: 100%;
}
.Resume-mobile input::file-selector-button {
  font-size: 100%;
  height: 30px;
  font-size: 120%;
}
.Submit-mobile {
  width: 40%;
  height: 40px;
  background-color: #ff9e18;
  border: 0;
  color: #fff;
  font-size: 150%;
}

.TecInstalacion-mobile > div:last-child {
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.TecInstalacion-mobile > div:last-child > img:first-child {
  margin-top: 30px;
  width: 90%;
}
.TecInstalacion-mobile > div:last-child > p {
  width: 90%;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.TecInstalacion-mobile > div:last-child > img:last-child {
  width: 50%;
  margin-left: 20%;
}
.ContendorTecInstalacion-mobile > div:last-child {
  width: 100%;
  display: flex;
  padding: 27px 527.17px 33px 527.36px;
  justify-content: center;
  align-items: center;
  background: #ff9e18;
}
.ContendorTecInstalacion-mobile > div:last-child > p {
  width: 80%;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.TecInstalacion-mobile > div:first-child > p {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding: 10.5px 15px 11.5px 15px;
}
.TecInstalacion-mobile > div:first-child > p > a {
  font-weight: 700;
  line-height: 18px;
  text-decoration-line: underline;
}
.Video-mobile {
  justify-content: center;
  height: 50vh;
  width: 90%;
  padding: 5%;
}
.Video-mobile iframe {
  width: 100%;
  height: 100%;
}

.Lista-mobile {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Lista-mobile > div {
  width: 100%;
}

.Lista-mobile > div > img {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Lista-mobile > ul {
  list-style: none;
  width: 85%;
}

.Lista-mobile > ul > li {
  text-align: left;
  color: #0038a8;
  font-family: 'Montserrat', Sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7em;
}
.BeneficiosFV-mobile {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  padding: 10px 10px;
}

.BeneficiosFV-mobile > article {
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.BeneficiosFV-mobile > article > div > img {
  width: 90%;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
  margin: 10px;
  align-items: center;
}

.BeneficiosFV-mobile > article > div > img:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.329);
}

.BeneficiosFV-mobile > article > section > img {
  width: 90%;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
  margin: 10px;
  align-items: center;
}

.BeneficiosFV-mobile > article > section > img:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.329);
}

.BeneficiosFV-mobile > article > h1 {
  width: 100%;
  height: 50px;
  color: #234992;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', Sans-serif;
  font-size: 35px;
  font-weight: 600;
}

.BeneficiosFV-mobile > h2 {
  width: 100%;
  height: 100px;
  color: #234992;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', Sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-top: 25px;
  text-align: center;
}
.FormSection-mobile select {
  display: none;
  height: 30px;
}
