.ContendorLearWinB-mobile {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ContendorLearWinB-mobile > h1 {
  text-align: center;
  font-size: 40px;
  color: black;
  font-weight: 800;
  font-family: 'Montserrat', Sans-serif;
  margin-top: 20px;
}

.ContendorLearWinB-mobile > h2 {
  text-align: center;
  font-size: 40px;
  color: black;
  font-weight: 500;
  font-family: 'Montserrat', Sans-serif;
  margin-top: 20px;
}

.LearWinB-mobile {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.LearWinB-mobile > div {
  width: 100%;
}

.LearWinB-mobile > div > a > img {
  width: 100%;
  padding-top: 1%;
}

.BannerDosLearWin-mobile {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.BannerDosLearWin-mobile > img {
  width: 100%;
  padding-top: 1%;
}

.TituloConfiable-mobile {
  width: 80%;
  color: #1e429b;
  font-family: 'Montserrat', Sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.9em;
  text-align: center;
  margin-top: 20px;
}

.titulo {
  width: 80%;
  font-weight: 800;
  color: white;
  font-family: 'Montserrat', Sans-serif;
  font-size: 40px;
}

.FondoFormB-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  gap: 5vw;
  padding: 3% 0;
}

.FondoFormB-mobile > article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FondoFormB-mobile > article > img {
  width: 80%;
  margin: 10%;
}

.FondoFormB-mobile > article > div {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TextoAzul-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TextoAzulB-mobile > img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TextoAzulB-mobile > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TextoAzulB-mobile > div > img {
  width: 80%;
  margin: 5% 0;
}
