.Contenedor_Thanks-desktop {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Thanks-desktop {
  width: 100%;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 0;
}

.Thanks-desktop > article {
  width: 100%;
}
