.ContendorTesla50K-mobile {
  width: 100%;
  background: url('https://windmar-website-cms.s3.amazonaws.com/Windmar1.0/LANDING+PAGE/equipo-windmar-instalando-placas-solares.webp');
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Tesla50K-mobile {
  background-color: #001d65ab;
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 20px;
}

.Tesla50K-mobile > div {
  width: 100%;
  margin-top: 5%;
}

.Tesla50K-mobile > div > h1 {
  margin-left: 10%;
  text-align: center;
  font-size: 30px;
}

.Tesla50K-mobile > div > p {
  color: white;
  font-family: 'Montserrat', Sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.Tesla50K-mobile > div > img {
  visibility: hidden;
  height: 1px;
}

.TeslaIm-mobile {
  width: 100%;
  padding-top: 20%;
  margin-right: 20%;
}

.TituloConfiable-mobile {
  width: 80%;
  color: #1e429b;
  font-family: 'Montserrat', Sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.9em;
  text-align: center;
  margin-top: 20px;
}

.titulo {
  width: 80%;
  font-weight: 800;
  color: white;
  font-family: 'Montserrat', Sans-serif;
  font-size: 40px;
}

.GaleriaTesla-mobile {
  visibility: hidden;
  height: 1px;
}

.TeslaH1Gal-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 5px;
  margin-top: 10%;
}

.TeslaH1Gal-mobile > article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  padding: 3% 0;
}

.TeslaH1Gal-mobile > article > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.TeslaH1Gal-mobile > article > div > img {
  width: 40%;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
  margin: 10px;
  align-items: center;
}

.TeslaH1Gal-mobile > article > h1 {
  width: 90%;
  font-size: 20px;
  text-align: center;
  color: #1e429b;
  font-weight: 800;
}

.TeslaH1Gal-mobile > article > h2 {
  width: 100%;
  height: 100px;
  color: #234992;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', Sans-serif;
  font-size: 50px;
  font-weight: 500;
  margin-top: 25px;
}

.Powerwall-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  padding: 3% 0;
}

.Powerwall-mobile > article {
  width: 100%;
  justify-content: center;
}

.Powerwall-mobile > article > img {
  width: 100%;
}

.Powerwall-mobile > article > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Powerwall-mobile > article > div > h1 {
  width: 90%;
  text-align: center;
  font-size: 20px;
  color: #1e429b;
  font-weight: 800;
}

.Powerwall-mobile > article > div > p {
  width: 90%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.IconosTesla-mobile {
  visibility: hidden;
  height: 1px;
}

.VamosCamino-mobile {
  justify-content: center;
  width: 100%;
  color: #1e429b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.VamosCamino-mobile > article > h1 {
  width: 100%;
  color: #1e429b;
  font-size: 20px;
  text-align: center;
  font-weight: 800;
}

.VamosCamino-mobile > article > h1 > strong {
  width: 100%;
  color: #ff9e29;
  font-size: 20px;
  text-align: center;
  font-weight: 800;
}

.VamosCamino-mobile > article > h2 > strong {
  width: 100%;
  color: #ff9e29;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}

.VamosCamino-mobile > article > h2 {
  width: 100%;
  color: #1e429b;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}
