/* .None {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 80px;
  height: calc(100vh - 80px);
  width: 100vw;
}

.None Link {
  
  border: none;
  margin-top: 10px;
  padding: 0;
  overflow: hidden;
} */
