.ContendorLearWin-mobile {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ContendorLearWin-mobile > h1 {
  width: 90%;
  text-align: center;
  font-size: 25px;
  color: black;
  font-weight: 800;
  font-family: 'Montserrat', Sans-serif;
  margin-top: 20px;
}

.TextoLear-mobile {
  width: 90%;
  text-align: center;
  font-size: 25px;
  color: black;
  font-weight: 700;
  font-family: 'Montserrat', Sans-serif;
  margin-top: 20px;
}

.ContendorLearWin-mobile > h2 {
  width: 80%;
  text-align: center;
  font-size: 25px;
  color: black;
  font-weight: 500;
  font-family: 'Montserrat', Sans-serif;
  margin-top: 20px;
}

.LearWin-mobile {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.LearWin-mobile > div {
  width: 100%;
}

.LearWin-mobile > div > img {
  width: 100%;
  padding-top: 1%;
}

.BannerDosLearWin-mobile {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.BannerDosLearWin-mobile > img {
  width: 100%;
  padding-top: 1%;
}

.TituloConfiable-mobile {
  width: 80%;
  color: #1e429b;
  font-family: 'Montserrat', Sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.9em;
  text-align: center;
  margin-top: 20px;
}

.titulo {
  width: 80%;
  font-weight: 800;
  color: white;
  font-family: 'Montserrat', Sans-serif;
  font-size: 40px;
}

.GaleriaLaerWin-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 5px;
  margin-top: 10%;
}

.GaleriaLaerWin-mobile > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  padding: 3% 0;
}

.GaleriaLaerWin-mobile > article > div {
  display: flex;
  justify-content: center;
}

.GaleriaLaerWin-mobile > article > div > img {
  width: 12%;
  margin: 20px;
  align-items: center;
}

.GaleriaLaerWin-mobile > article > h1 {
  width: 100%;
  height: 30px;
  color: #234992;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', Sans-serif;
  font-size: 35px;
  text-align: center;
  font-weight: 800;
}

.GaleriaLaerWin-mobile > article > h2 {
  width: 100%;
  height: 100px;
  color: #234992;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', Sans-serif;
  font-size: 50px;
  font-weight: 500;
  margin-top: 25px;
}

.FondoForm-mobile {
  background: url('../../assets/LearAndWin/FondoFormulario.png');
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  gap: 5vw;
  padding: 3% 0;
}

.FondoForm-mobile > article {
  width: 100%;
  display: flex;
  justify-content: right;
}

.FondoForm-mobile > article > img {
  width: 100%;
}

.FondoForm-mobile > article > div {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  margin-bottom: 10%;
}

.IconosTesla-mobile {
  width: 100%;
  background: #1e429b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.VamosCamino-mobile {
  width: 100%;
  color: #1e429b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}

.VamosCamino-mobile > article > h1 {
  width: 100%;
  color: #1e429b;
  font-size: 40px;
  text-align: center;
  font-weight: 800;
}

.VamosCamino-mobile > article > h1 > strong {
  width: 100%;
  color: #ff9e29;
  font-size: 40px;
  text-align: center;
  font-weight: 800;
}

.VamosCamino-mobile > article > h2 > strong {
  width: 100%;
  color: #ff9e29;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}

.VamosCamino-mobile > article > h2 {
  width: 100%;
  color: #1e429b;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}

.SliderLear-mobile {
  width: 100%;
  margin: 10% 0;
  overflow: hidden;
  border: 1px solid white;
}

.SliderUnoLear-mobile {
  width: 100%;
  cursor: grab;
}

.LearSli-mobile {
  color: rgba(255, 255, 255, 0);
  font-family: 'Sofia', cursive;
  font-size: clamp(25px, 4vw, 40px);
  font-weight: 400;
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  cursor: pointer;
  line-height: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 300px;
  left: 0px;
  z-index: 100;
}

.LearSl-mobile {
  color: rgba(255, 255, 255, 0);
  font-family: 'Sofia', cursive;
  font-size: clamp(25px, 4vw, 40px);
  font-weight: 400;
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  cursor: pointer;
  line-height: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 300px;
  right: 15px;
  z-index: 1000;
}

.LasVegas1 {
  width: 100vw;
  height: 50vw;
  background: url('../../assets/LearAndWin/LasVegas.png') no-repeat center center;
  margin-bottom: 3%;
}

.Atlanta1 {
  width: 100vw;
  height: 50vw;
  background: url('../../assets/LearAndWin/Atlanta.png') no-repeat center center;
  margin-bottom: 3%;
}

.CanCun1 {
  width: 100vw;
  height: 50vw;
  background: url('../../assets/LearAndWin/CanCun.png') no-repeat center center;
  margin-bottom: 3%;
}

.PuntaCana1 {
  width: 100vw;
  height: 50vw;
  background: url('../../assets/LearAndWin/PuntaCana.png') no-repeat center center;
  margin-bottom: 3%;
}

.Nashville1 {
  width: 100vw;
  height: 50vw;
  background: url('../../assets/LearAndWin/Nashville.png') no-repeat center center;
  margin-bottom: 3%;
}

/* SliderMobile */

.BannerLearAndWinDosMobile {
  width: 100vw;
  height: 100vw;
  background: url('../../assets/LearAndWin/BannerDosMobile.png') no-repeat center center;
  margin-bottom: 3%;
}

.pasoUnoMobile {
  width: 100vw;
  height: 100vw;
  background: url('../../assets/LearAndWin/PasoUnoMobile.png') no-repeat center center;
  margin-bottom: 3%;
}

.pasoDosMobile {
  width: 100vw;
  height: 100vw;
  background: url('../../assets/LearAndWin/PasoDosMobile.png') no-repeat center center;
  margin-bottom: 3%;
}

.pasoTresMobile {
  width: 100vw;
  height: 100vw;
  background: url('../../assets/LearAndWin/PasoTresMobile.png') no-repeat center center;
  margin-bottom: 3%;
}

.pasoCuatroMobile {
  width: 100vw;
  height: 100vw;
  background: url('../../assets/LearAndWin/PasoCuatroMobile.png') no-repeat center center;
  margin-bottom: 3%;
}

.pasoCincoMobile {
  width: 100vw;
  height: 100vw;
  background: url('../../assets/LearAndWin/PasoCincoMobile.png') no-repeat center center;
  margin-bottom: 3%;
}

/* version mobile  */

.LasVegasMobile {
  width: 100vw;
  height: 150vw;
  background: url('../../assets/LearAndWin/LasVegasMobile.png') no-repeat center center;
  margin-bottom: 3%;
}

.AtlantaMobile {
  width: 100vw;
  height: 150vw;
  background: url('../../assets/LearAndWin/AtlantaMobile.png') no-repeat center center;
  margin-bottom: 3%;
}

.CanCunMobile {
  width: 100vw;
  height: 150vw;
  background: url('../../assets/LearAndWin/CanCunMobile.png') no-repeat center center;
  margin-bottom: 3%;
}

.PuntaCanaMobile {
  width: 100vw;
  height: 150vw;
  background: url('../../assets/LearAndWin/PuntaCanaMobile.png') no-repeat center center;
  margin-bottom: 3%;
}

.NashvilleMobile {
  width: 100vw;
  height: 150vw;
  background: url('../../assets/LearAndWin/NashvilleMobile.png') no-repeat center center;
  margin-bottom: 3%;
}
